# 3. Vector

This section will teach you how to create, manipulate, and work with vectors effectively.

**Vectors** are one of the most fundamental data structures in R, used to store a collection of elements, all of the same type. You can create numeric, character, logical, or even complex vectors. Vectors in R are 1-dimensional, and you can access or manipulate individual elements using indexing. Keep in mind that, unlike Python where indexing starts at 0, R indexes from 1.

We'll learn about the following topics:

   - [3.1. Creating Vectors](#Creating_Vectors)
   - [3.2. Built-in Vector Functions](#Builtin_Vector_Functions)
   - [3.3. Vector Indexing and Slicing](#Vector_Indexing_and_Slicing)
   - [3.4. Vector Properties](#Vector_Properties)

<a name='Creating_Vectors'></a>

## 3.1. Creating Vectors:


In R, vectors are created using the `c()` function, which stands for "combine" or "concatenate." This function combines elements into a single vector. You can create vectors of different types such as numeric, character, or logical.

In [1]:
char_vector <- c("apple", "banana", "cherry")
print(char_vector)

[1] "apple"  "banana" "cherry"

In [2]:
numeric_vector <- c(1, 2, 3, 4, 5)
print(numeric_vector)

[1] 1 2 3 4 5

<a name='Builtin_Vector_Functions'></a>

## 3.2. Built-in Vector Functions:

**`seq()`**: Used to generate sequences of numbers.

`seq(from, to, by = , length.out = )`

- from: The starting value of the sequence.
- to: The ending value of the sequence.
- by: The increment (step size) between values in the sequence. If not specified, the default step size is 1.
- length.out: The desired length of the sequence. If specified, seq() calculates the appropriate step size.

In [3]:
print(seq(1, 10))

 [1]  1  2  3  4  5  6  7  8  9 10

In [4]:
seq(1, 10, by = 2)

[1] 1 3 5 7 9

In [5]:
seq(1, 10, length.out = 5)

[1]  1.00  3.25  5.50  7.75 10.00

**`class()`**: In R, the `class()` function returns the type of an object. When you create a character vector (or any vector) using `c()`, the type of the elements in the vector determines the class of the entire vector.

In [6]:
class(char_vector)

[1] "character"

In [7]:
typeof(char_vector)

[1] "character"

**`length()`**: Determine the number of elements in a vector.

In [8]:
length(char_vector)

[1] 3

**`sort()`**: Used to sort the elements of a vector in either ascending or descending order.

In [9]:
num_vector <- c(3, 1, 4, 1, 5, 9, 2)

In [10]:
sorted_vector_ascending <- sort(num_vector)
print(sorted_vector_ascending)

[1] 1 1 2 3 4 5 9

In [11]:
sorted_vector_descending <- sort(num_vector, decreasing = TRUE)
print(sorted_vector_descending)

[1] 9 5 4 3 2 1 1

**`append()`**: Used for merging vectors or adding more elements to a vector.

In [12]:
x <- 1:5

#Append using append() function
x <- append(x, 6:10)

print(x)

 [1]  1  2  3  4  5  6  7  8  9 10

**`sum()`**: Used for calculating the sum of all elements in a vector.

In [13]:
sum(numeric_vector)

[1] 15

**`crosspod()`**: When used with two numeric vectors of equal length, crossprod() computes the dot product of those vectors.

In [14]:
vector1 <- c(2, 3, 4)
vector2 <- c(5, 6, 7)

#Calculate the dot product using crossprod()
dot_product <- crossprod(vector1, vector2)
print(dot_product[1])

[1] 56

**`range()`**: Get the Minimum and Maximum element of a Vector.

In [15]:
x <- c(8, 2, 5, 4, 9, 6, 54, 18)

range(x)

[1]  2 54

In [16]:
min(x)

[1] 2

In [17]:
max(x)

[1] 54

<a name='Vector_Indexing_and_Slicing'></a>

## 3.3. Vector Indexing and Slicing:

For vectors, you can access specific elements using square brackets `[]`, specifying the index of the element.

In [18]:
a <- 1:8
print(a)

[1] 1 2 3 4 5 6 7 8

Instead of using `seq()`, you can simply generate a sequence of consecutive numbers with `:`.

In [19]:
class(a)

[1] "integer"

In [20]:
#Grab element at index 1
a[1]

[1] 1

In [21]:
a[2:4]

[1] 2 3 4

To get multiple elements, use `c(index1, index2, ...)`.

In [22]:
a[c(1,5)]

[1] 1 5

In [23]:
#Grab index 1 and everything past it
a[3:length(a)]

[1] 3 4 5 6 7 8

In [24]:
a[a<10]

[1] 1 2 3 4 5 6 7 8

**Negative Indexing**: In R, using negative indexing with `[]` is a way to remove specific elements from a vector or list. When you provide a negative index, R returns all the elements except for those at the specified positions. This is different from languages like Python, where negative indexing accesses elements from the end of the list.

In [25]:
#Remove the first element
a[-1]

[1] 2 3 4 5 6 7 8

In [26]:
#Remove the first and third elements
a[-c(1, 3)]

[1] 2 4 5 6 7 8

**Logical Indexing**: A logical vector is created by applying a condition to a vector. For example, if you have a numeric vector, you can create a logical vector that indicates whether each element meets a specific condition (e.g., greater than a certain value). You can then use this logical vector to extract only those elements from the original vector that correspond to TRUE values.

In [27]:
a[a>6]

[1] 7 8

<a name='Vector_Properties'></a>

## 3.4. Vector Properties:

- **ordered**: Vectors are ordered collections of elements, meaning that the position of each element matters. Each element can be accessed by its index.

In [28]:
c <- c(10, 20, 30)

d <- c(20, 10, 30)

identical(c, d)

[1] FALSE

- **Mutuable**: In R, vectors are mutable in the sense that you can change the elements of a vector after it has been created.

In [29]:
#Modify a specific element
a[3] <- 10
a[2] <- 9

print(a)

[1]  1  9 10  4  5  6  7  8

In [30]:
b <- 1:15
b[b>9] <- 0
b

 [1] 1 2 3 4 5 6 7 8 9 0 0 0 0 0 0

- **concatenate**: This refers to the process of combining multiple elements or vectors into a single vector.

In [31]:
#Create two numeric vectors
vector1 <- c(1, 2, 3)
vector2 <- c(4, 5, 6)

#Concatenate the two vectors
combined_vector <- c(vector1, vector2, 7)
print(combined_vector)

[1] 1 2 3 4 5 6 7

- **Reassignment**: In R, you can reassign a vector by updating its contents.

In [32]:
x <- seq(1, 10, length.out = 5)
x[1] <- 0
x

[1]  0.00  3.25  5.50  7.75 10.00

- **Arithmetic Operations**: Arithmetic operations in R are typically applied element-wise. This means that when you perform an operation on two vectors of the same length, R will apply the operation to corresponding elements in each vector.

In [33]:
X <- c(5, 2, 5, 1, 51, 2)
Y <- c(7, 9, 1, 5, 2, 1)

In [34]:
#Addition
X + Y

[1] 12 11  6  6 53  3

In [35]:
#Subtraction
X - Y

[1] -2 -7  4 -4 49  1

In [36]:
#Multiplication
X * Y

[1]  35  18   5   5 102   2

In [37]:
#Division
X / Y

[1]  0.7142857  0.2222222  5.0000000  0.2000000 25.5000000  2.0000000

In [38]:
#Floor Division
X %/% Y

[1]  0  0  5  0 25  2