# 4. List

This section will teach you how to create, manipulate, and work with lists effectively.

A **list** in R is a data structure that can store multiple elements of different types, including numbers, strings, vectors, matrices, and even other lists. Unlike vectors, which require all elements to be of the same type, lists allow for mixed types, making them very flexible for various tasks in R programming.

We'll learn about the following topics:

   - [4.1. Creating Lists](#Creating_Lists)
   - [4.2. List Indexing and Slicing](#List_Indexing_and_Slicing)
   - [4.3. Built-in List Functions](#Builtin_List_Functions)
   - [4.4. List Properties](#List_Properties)

<a name='Creating_Lists'></a>

## 4.1. Creating Lists:

You can create a list in R using the `list()` function.

In [1]:
a <- list(1, "R programming", TRUE, 3.14)

In [2]:
class(a)

[1] "list"

Naming list components make it easier to access them.

In [3]:
#Creating a named list
named_list <- list(name = "Jack", age = 22, city = "Chicago")

print(named_list)

$name
[1] "Jack"

$age
[1] 22

$city
[1] "Chicago"

**Differences Between R Lists and Python Lists**

<table>
  <thead>
    <tr>
      <th>Feature</th>
      <th>R Lists</th>
      <th>Python Lists</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Data Types</td>
      <td>Can store elements of different data types</td>
      <td>Can also store elements of different data types</td>
    </tr>
    <tr>
      <td>Indexing</td>
      <td>1-based indexing (starts at 1)</td>
      <td>0-based indexing (starts at 0)</td>
    </tr>
    <tr>
      <td>Accessing Elements</td>
      <td>Use [[ ]] to access elements, [ ] returns sub-lists</td>
      <td>Use [ ] to access elements directly</td>
    </tr>
    <tr>
      <td>Naming Elements</td>
      <td>Can have named elements</td>
      <td>Elements are indexed, but no built-in naming system</td>
    </tr>
    <tr>
      <td>Mutability</td>
      <td>Lists are mutable, meaning you can modify their elements</td>
      <td>Python lists are mutable as well</td>
    </tr>
  </tbody>
</table>

**Difference Between Lists and Vectors in R**

<table>
  <thead>
    <tr>
      <th>Property</th>
      <th>Lists</th>
      <th>Vectors</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Element Type</td>
      <td>Can store elements of different types (e.g., numbers, strings, logical values)</td>
      <td>All elements must be of the same type (e.g., all numbers, all strings)</td>
    </tr>
    <tr>
      <td>Structure</td>
      <td>Lists are recursive, meaning they can contain other lists</td>
      <td>Vectors are atomic and cannot contain other vectors</td>
    </tr>
    <tr>
      <td>Accessing Elements</td>
      <td>Use single bracket [ ] to return sub-lists and double brackets [[ ]] to access actual elements</td>
      <td>Use single bracket [ ] for indexing</td>
    </tr>
    <tr>
      <td>Common Usage</td>
      <td>Lists are used to store more complex data structures (e.g., data frames)</td>
      <td>Vectors are typically used for simple collections of data like numbers or strings</td>
    </tr>
  </tbody>
</table>

<a name='List_Indexing_and_Slicing'></a>

## 4.2. List Indexing and Slicing:

When accessing elements within a list, there are two primary methods:

1. **Using Double Brackets `[[ ]]`**: This is used to extract the actual value from the list. Unlike single brackets `[]`, which return a sub-list, the `[[ ]]` operator extracts the individual element.

`list_name[[index/element_name]]`

2. **Using Names with `$`**: This method allows you to access list elements by their names if the list elements are named.

`list_name$element_name`

In [4]:
a <- list(1, "R programming", TRUE, 3.14)
b <- list(name = "Jack", age = 22, city = "Chicago")

In [5]:
a[[2]]

[1] "R programming"

In [6]:
a[[length(a)]]

[1] 3.14

Double brackets `[[ ]]` in R are designed to extract a single element from a list, not multiple elements. If you try to use double brackets with more than one element, you'll get an error, because `[[ ]]` can only return one element at a time.

In [7]:
a[c(2,4)]

[[1]]
[1] "R programming"

[[2]]
[1] 3.14

In [8]:
b$name

[1] "Jack"

In [9]:
b[['name']]

[1] "Jack"

In [10]:
b[c('name', 'age')]

$name
[1] "Jack"

$age
[1] 22

In [11]:
c <- list(c(1, 2, 3, 4), 5, 'hello')

In [12]:
c[[1]][2]

[1] 2

What happens if you use single brackets for list indexing?

When you use single brackets `[]` for list indexing in R, it returns a sublist. This means that even if you access one element, it is returned as a list containing that element, rather than the element itself.

In [13]:
a[2]

[[1]]
[1] "R programming"

In [14]:
class(a[2])

[1] "list"

**Negative Indexes**: When you use negative indexing on a list, you exclude the elements at the specified indices from the result. In the case of a list, using negative indexing will return a new list that contains all elements except the ones at the negative indices specified.

If you use double brackets `([[ ]])` with negative indexing, you will receive an error. This is because double brackets are used to extract a single element from a list, and negative indexing does not apply in this context.

In [15]:
d <- list("apple", "banana", "cherry", "date")

In [16]:
d_excluded <- d[-1]  #Exclude the first element
print(d_excluded)

[[1]]
[1] "banana"

[[2]]
[1] "cherry"

[[3]]
[1] "date"

Yet another way is to equal an element to `NULL`.

In [17]:
d[[1]] = NULL

In [18]:
d

[[1]]
[1] "banana"

[[2]]
[1] "cherry"

[[3]]
[1] "date"

<a name='Builtin_List_Functions'></a>

## 4.3. Built-in List Functions:

<table>
  <thead>
    <tr>
      <th>Function</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>length()</td>
      <td>Returns the number of elements in a list.</td>
    </tr>
    <tr>
      <td>names()</td>
      <td>Returns or sets the names of the list elements.</td>
    </tr>
    <tr>
      <td>unlist()</td>
      <td>Converts a list to a vector by flattening it.</td>
    </tr>
    <tr>
      <td>lapply()</td>
      <td>Applies a function to each element of a list and returns a list.</td>
    </tr>
    <tr>
      <td>sapply()</td>
      <td>Simplifies the result to a vector instead of a list.</td>
    </tr>
    <tr>
      <td>append()</td>
      <td>Adds elements to a list.</td>
    </tr>
    <tr>
      <td>str()</td>
      <td>Gives an overview of the internal structure of the list, including nested lists.</td>
    </tr>
    <tr>
      <td>rep()</td>
      <td>Repeats a list multiple times.</td>
    </tr>
    <tr>
      <td>is.list()</td>
      <td>Returns TRUE if the object is a list, otherwise FALSE.</td>
    </tr>
    <tr>
      <td>as.list()</td>
      <td>Converts an object into a list.</td>
    </tr>
  </tbody>
</table>

- **`length()`**: Returns the number of elements in a list.

In [19]:
length(a)

[1] 4

- **`names()`**: Returns or sets the names of the list elements.

In [20]:
names(b)

[1] "name" "age"  "city"

In [21]:
my_list <- list(1, 2, 3)
names(my_list) <- c("x", "y", "z")
print(my_list)

$x
[1] 1

$y
[1] 2

$z
[1] 3

- **`unlist()`**: Converts a list to a vector by flattening it.

In [22]:
unlist(a)

[1] "1"             "R programming" "TRUE"          "3.14"

In [23]:
class(unlist(a))

[1] "character"

- **`lapply()`**: Applies a function to each element of a list and returns a list. `sapply()` simplifies the result to a vector instead of a list.

In [24]:
lapply(my_list, function(x) x^2)

$x
[1] 1

$y
[1] 4

$z
[1] 9

In [25]:
sapply(my_list, function(x) x^2)

x y z
1 4 9

- **`append()`**: Adds elements to a list.

In [26]:
a <- append(a, list('world', 4))
print(a)

[[1]]
[1] 1

[[2]]
[1] "R programming"

[[3]]
[1] TRUE

[[4]]
[1] 3.14

[[5]]
[1] "world"

[[6]]
[1] 4

You can also use indexing to add new elements.

In [27]:
x <- list(1,2,3)

x[[4]] <- 4

print(x)

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[4]]
[1] 4

This is also another way to merge two lists:

In [28]:
lst1 <- list(1,2,3)
lst2 <- list("Sun","Mon","Tue")

#Merge the two lists.
new_list <- c(lst1,lst2)

class(new_list)

[1] "list"

- **`str()`**: gives an overview of the internal structure of the list, including nested lists.

In [29]:
str(a)

List of 6
 $ : num 1
 $ : chr "R programming"
 $ : logi TRUE
 $ : num 3.14
 $ : chr "world"
 $ : num 4

- **`rep()`**: Repeats a list multiple times.

In [30]:
rep(a, times = 2)

[[1]]
[1] 1

[[2]]
[1] "R programming"

[[3]]
[1] TRUE

[[4]]
[1] 3.14

[[5]]
[1] "world"

[[6]]
[1] 4

[[7]]
[1] 1

[[8]]
[1] "R programming"

[[9]]
[1] TRUE

[[10]]
[1] 3.14

[[11]]
[1] "world"

[[12]]
[1] 4

- **`is.list()`**: Returns TRUE if the object is a list, otherwise FALSE.

In [31]:
is.list(a)

[1] TRUE

- **`as.list()`**: Converts an object into a list.

In [32]:
vec <- c(1, 2, 3)
as_list <- as.list(vec)
print(as_list)

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

<a name='List_Properties'></a>

## 4.4. List Properties:

- **ordered**: Lists in R are ordered, meaning the elements within a list retain their sequence, and the order of elements is preserved. This allows for accessing elements based on their position (index).

- **Reassignment**: A R list can also be modified by accessing the components and replacing them with the ones which you want.

In [33]:
a <- list(1, 2, 3)

In [34]:
a <- list(3, 4)

In [35]:
a

[[1]]
[1] 3

[[2]]
[1] 4

- **Mutability**:

In [36]:
print(c)

[[1]]
[1] 1 2 3 4

[[2]]
[1] 5

[[3]]
[1] "hello"

In [37]:
c[[2]][1] = 7

In [38]:
print(c)

[[1]]
[1] 1 2 3 4

[[2]]
[1] 7

[[3]]
[1] "hello"

You cannot perform mathematical operations directly on lists in R due to their heterogeneous nature.