# 7. Booleans and Comparison Operators

In this section, we'll explore the concept of booleans and how they are used in Python to represent true or false values. We'll also delve into comparison operators, which are used to evaluate conditions and make decisions within your programs.

We'll learn about the following topics:

- [7.1. Booleans](#Booleans)
- [7.2. Comparison Operators](#Comparison_Operators)
- [7.3. Logical Operators](#Logical_Operators)

<a name='Booleans'></a>

## 7.1. Booleans:

In R, Booleans are logical data types that have two possible values: `TRUE` and `FALSE`. These values are used to represent logical conditions or results of comparisons and can be used in control structures (such as if statements or loops) and in conjunction with logical operators.

You can check the type of a Boolean value using `typeof()` or `class()`:

In [1]:
x <- TRUE
y <- FALSE

typeof(x)
class(y)

[1] "logical"

[1] "logical"

<a name='Comparison_Operators'></a>

## 7.2. Comparison Operators:

<table>
  <thead>
    <tr>
      <th>Operator</th>
      <th>Description</th>
      <th>Example</th>
      <th>Output</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>==</td>
      <td>Equal to</td>
      <td>5 == 5</td>
      <td>TRUE</td>
    </tr>
    <tr>
      <td>!=</td>
      <td>Not equal to</td>
      <td>5 != 6</td>
      <td>TRUE</td>
    </tr>
    <tr>
      <td>&lt;</td>
      <td>Less than</td>
      <td>3 &lt; 5</td>
      <td>TRUE</td>
    </tr>
    <tr>
      <td>&lt;=</td>
      <td>Less than or equal to</td>
      <td>5 &lt;= 5</td>
      <td>TRUE</td>
    </tr>
    <tr>
      <td>&gt;</td>
      <td>Greater than</td>
      <td>7 &gt; 6</td>
      <td>TRUE</td>
    </tr>
    <tr>
      <td>&gt;=</td>
      <td>Greater than or equal to</td>
      <td>5 &gt;= 5</td>
      <td>TRUE</td>
    </tr>
  </tbody>
</table>

- **Equal**

In [2]:
5 == 5

[1] TRUE

In [3]:
8 == 9

[1] FALSE

- **Not Equal**

In [4]:
5 != 6

[1] TRUE

In [5]:
5 != 5

[1] FALSE

In R, the equality (==) and inequality (!=) operations can also be performed on vectors. However, R compares elements in the same positions, so the order matters for vectors:

In [6]:
#Example of vector comparison
c(1, 2) == c(2, 1)

[1] FALSE FALSE

- **Less than**

In [7]:
2 < 6

[1] TRUE

In [8]:
5 < 2

[1] FALSE

- **Less than or equal to**

In [9]:
4 <= 4

[1] TRUE

In [10]:
8 <= 4

[1] FALSE

- **Greater than**

In [11]:
6>4

[1] TRUE

In [12]:
2>3

[1] FALSE

- **Greater than or equal to**

In [13]:
3 >= 3

[1] TRUE

In [14]:
1 >= 7

[1] FALSE

<a name='Logical_Operators'></a>

## 7.3. Logical Operators:

<table>
  <thead>
    <tr>
      <th>Operator</th>
      <th>Description</th>
      <th>Example</th>
      <th>Output</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>&</td>
      <td>Element-wise AND</td>
      <td>(TRUE & FALSE)</td>
      <td>FALSE</td>
    </tr>
    <tr>
      <td>|</td>
      <td>Element-wise OR</td>
      <td>(TRUE | FALSE)</td>
      <td>TRUE</td>
    </tr>
    <tr>
      <td>!</td>
      <td>NOT</td>
      <td>!TRUE</td>
      <td>FALSE</td>
    </tr>
    <tr>
      <td>&&</td>
      <td>Short-circuit AND (only evaluates the first element)</td>
      <td>(TRUE && FALSE)</td>
      <td>FALSE</td>
    </tr>
    <tr>
      <td>||</td>
      <td>Short-circuit OR (only evaluates the first element)</td>
      <td>(TRUE || FALSE)</td>
      <td>TRUE</td>
    </tr>
  </tbody>
</table>

**1. AND Operator (& and &&)**

- `&`: Element-wise logical AND (used with vectors).
- `&&`: Short-circuit logical AND (only evaluates the first element).

In [15]:
x <- c(5, 10, 15)
y <- c(10, 10, 10)

x & y

[1] TRUE TRUE TRUE

In [16]:
(x > 5) & (y == 10)

[1] FALSE  TRUE  TRUE

In [17]:
a <- 5
b <- 10

(a > 3) && (b < 15)

[1] TRUE

**2. OR Operator (| and ||)**

- `|`: Element-wise logical OR (used with vectors).
- `||`: Short-circuit logical OR (only evaluates the first element).

In [18]:
x | y

[1] TRUE TRUE TRUE

In [19]:
(a > 6) || (b < 5)

[1] FALSE

R does not support chained comparison operators in the same way that Python does. In Python, you can write expressions like `1 < 2 < 3`, which evaluates to TRUE because both comparisons `(1 < 2 and 2 < 3)` are true. This is a feature of Python's syntax, allowing multiple comparisons to be evaluated in a single expression.